@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-background;
  }
  body {
    @apply font-body;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #b10903;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track {
    background-color: #e2e8f0;
  }

  ::selection {
    background-color: #b10903;
    color: #fff;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #b10903 #e2e8f0;
  }
}
.container-medium {
  position: relative;
}

.medium-container {
  width: 82%;
  margin: 0 auto;
}
.container-medium .arrow {
  position: absolute;
  top: 45%;
}

.container-medium .arrow.arrow-left {
  left: 3%;
}

.container-medium .arrow.arrow-right {
  right: 3%;
}

@media screen and (max-width: 600px) {
  .medium-container {
    max-width: 100%;
    width: 100%;
  }
  .arrow {
    display: none;
  }
}